<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <header>
        <h1>Welcome to My Portfolio</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/projects">Projects</a>
            <a href="/skills">Skills</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </nav>
    </header>
    <main>
        <section>
            <h2>About Me</h2>
            <p>
                Hi! I'm Lan Anh, a developer passionate about codeing and technologies.
                I love to learn new things and improve my skills.
            </p>
        </section>

        <section>
            <h2>Projects</h2>
            <ul>
                <li>
                    <a href="/projects"> Check out my work!</a>
                </li>
            </ul>
        </section>

        <footer>
            <p>@ 2024 Lan Anh. All right reserved. | Visit my
                <a href="https://github.com/DamThiLanAnh" target="_blank">GitHub</a>!
            </p>
        </footer>
    </main>

</body>
</html>